*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #4B4B4B;
  border: 3px solid #1E1E1E;
  font-family: 'Lobster', cursive;
  min-height: calc(100vh - 6px);
}

img {
  height: 200px;
  width: 200px;
  align-content: left;
  margin: 30px;
  border-radius: 8px;
}

.all-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*margin-top: 25%;*/
  min-height: calc(100vh - 34px);
}

.content {
  float: right;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.div {
  display: flex;
  height: 80px;
  width: 80px;
  border: 2px solid #FFF;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.div:hover {
  background-color: #4B4B4B;
  transition: .8s;
  height: 85px;
  width: 85px;
}

.home {
  background: #32270D;
  color: #EEEEEE;
}

.about {
  background: #776D68;
  color: #000024;
}

.portfolio {
  /*background: #682B5B;*/
  background: #EDF2E8;
  color: #000024;
}

.contact {
  /*background: #F29866;*/
  background: #1D332A;
  color: #EEEEEE;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

h4 {
  font-size: 25px;
  color: navy;
  font-weight: 600;
  text-align: center;
}

footer {
  bottom: 0;
  background: #1E1E1E;
  color: #EEEEEE;
  color: #828282;
  font-style: italic;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  position: absolute;
}

nav {
  background: #828282;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  margin-top: 30px;
  background: #1E1E1E;
  color: #FFF;
  height: 40px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar:hover {
  background: #000024;
}

li a {
  margin-top: 5px;
  width: 50px;
  text-decoration: none;
  font-size: 25px;
  color: #EEEEEE;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000024;
}

.container {
  border: 4px dotted #333;
  background: #828282;
}

.img-p {
  display: flex;
  flex-direction: row;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  /*color: orangered;
  background: midnightblue;*/
  border-radius: 20px;
  height: 30px;
  width: 75px;
}

.linkedin {
  background: #0274B3;
  color: #FFF;
}

.github {
  background: #24292E;
  color: #EEEEEE;
}

.ga {
  background: #E41A24;
  color: #FFF;
}

.work {
  display: flex;
  flex-direction: row;
  line-height: 25px;
}

.button {
  border: 1px solid #EDF2E8;
  color: orangered;
  background: midnightblue;
  text-align: center;
  /*box-sizing: border-box;*/
  /*height: 40px;
  width: 80px;*/
}

.text-box-content {
  margin-top: 50px;
  position: absolute;
}

 /*p {
   margin-top: 20px;
 }*/

.project-link {
  text-align: center;
  margin-top: 20px;
}

.p-p {
  margin-top: 30px;
}

.big-wrapper {
  
}

/*.image-area {

}

.left {

}*/

/*.right {
  display: flex;
  justify-content: flex-end;
}*/